In [11]:
import pandas as pd
import numpy as np
import sqlalchemy as db
import pyodbc
#import pymssql
from sqlalchemy import *
from sqlalchemy import Table, MetaData, Column, Integer
from sqlalchemy import create_engine
from sqlalchemy.types import TypeDecorator, Numeric
import datetime

In [14]:
import os
os.getcwd()
os.chdir('C:\\Users\\tmansour\\crons')

In [15]:
conn = pyodbc.connect(r'Driver={SQL Server};Server=pgi-m2m;Database=M2Mdata25;Trusted_Connection=yes;')

In [16]:
cursor = conn.cursor()
#cursor.execute("SELECT fpartno, fqty, ftype, fctime_ts, FFROMLOC, FFROMFAC, FMATL, FUSERINFO, FTOBIN FROM intran")
cursor.execute("SELECT fpartno, fonhand, fbinno, flocation, flot, fac FROM inonhd")

In [4]:
from crontab import CronTab
import csv

df = pd.read_csv('1.txt', sep='\t',  lineterminator='\n', names=None)
df
df.rename(columns={  
    'item' : 'fpartno',
    'qty\r' : 'fqty'
    
}, inplace = True)
df

    fpartno  lot  fqty
0  21160-LF  2H1    40

In [5]:
item = df.iloc[0, 0]
qty = df.iloc[0, 2]
#lot = df.iloc[0, 1]
Current_Date = datetime.datetime.today()

In [6]:
cursor.execute(f"update inonhd SET fonhand='{qty}' WHERE fpartno = '{item}' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'")

In [7]:
conn.commit()****

In [3]:
import os

In [18]:
os.listdir('C:/Users/tmansour/crons')

['1.txt', '2.txt']

In [ ]:
import os
import pandas as pd
import time

files_uploaded = []
n_files = 0
directory = os.listdir('C:/Users/tmansour/crons')

while True:
    
    if n_files<len(directory):
        n_files = len(directory)
        for file in directory:
            if file not in files_uploaded:
                df = pd.read_csv(file, sep='\t',  lineterminator='\n', names=None)
                item = df.iloc[0, 0]
                qty = df.iloc[0, 2]
                #lot = df.iloc[0, 1]
                Current_Date = datetime.datetime.today()
                conn = pyodbc.connect(r'Driver={SQL Server};Server=pgi-m2m;Database=M2Mdata25;Trusted_Connection=yes;')
                cursor = conn.cursor()
                #cursor.execute("SELECT fpartno, fqty, ftype, fctime_ts, FFROMLOC, FFROMFAC, FMATL, FUSERINFO, FTOBIN FROM intran")
                cursor.execute("SELECT fpartno, fonhand, fbinno, flocation, flot, fac FROM inonhd")
                cursor.execute(f"update inonhd SET fonhand='{qty}' WHERE fpartno = '{item}' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'")
                conn.commit()
                conn.close()
                files_uploaded.append(file)
                
    else:
        time.sleep(2)

In [31]:
for file in os.listdir('C:/Users/tmansour/crons'):
    if file not in files_uploaded:
        df = pd.read_csv(file, sep='\t',  lineterminator='\n', names=None)
        item = df.iloc[0, 0]
        qty = df.iloc[0, 2]
        #lot = df.iloc[0, 1]
        Current_Date = datetime.datetime.today()
        conn = pyodbc.connect(r'Driver={SQL Server};Server=pgi-m2m;Database=M2Mdata25;Trusted_Connection=yes;')
        cursor = conn.cursor()
        #cursor.execute("SELECT fpartno, fqty, ftype, fctime_ts, FFROMLOC, FFROMFAC, FMATL, FUSERINFO, FTOBIN FROM intran")
        cursor.execute("SELECT fpartno, fonhand, fbinno, flocation, flot, fac FROM inonhd")
        cursor.execute(f"update inonhd SET fonhand='{qty}' WHERE fpartno = '{item}' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'")
        conn.commit()
        conn.close()
        files_uploaded.append(file)

In [19]:
len(os.listdir())

2

In [20]:
import glob
import os

list_of_files = glob.glob('C:/Users/tmansour/crons/*.txt') # * means all if need specific format then *.csv
latest_file = max(list_of_files, key=os.path.getctime)
print(latest_file)

C:/Users/tmansour/crons\2.txt

In [21]:
df = pd.read_csv(latest_file, sep='\t',  lineterminator='\n', names=None)

In [22]:
df

    item  lot  qty\r
0  36263  BU2   1700

In [23]:
item = df.iloc[0, 0]
qty = df.iloc[0, 2]
#lot = df.iloc[0, 1]
Current_Date = datetime.datetime.today()
conn = pyodbc.connect(r'Driver={SQL Server};Server=pgi-m2m;Database=M2Mdata25;Trusted_Connection=yes;')
cursor = conn.cursor()
#cursor.execute("SELECT fpartno, fqty, ftype, fctime_ts, FFROMLOC, FFROMFAC, FMATL, FUSERINFO, FTOBIN FROM intran")
cursor.execute("SELECT fpartno, fonhand, fbinno, flocation, flot, fac FROM inonhd")
cursor.execute(f"update inonhd SET fonhand='{qty}' WHERE fpartno = '{item}' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'")
conn.commit()
conn.close()