In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as db
import pyodbc
#import pymssql
from sqlalchemy import *
from sqlalchemy import Table, MetaData, Column, Integer
from sqlalchemy import create_engine
from sqlalchemy.types import TypeDecorator, Numeric
import datetime

In [2]:
conn = pyodbc.connect(r'Driver={SQL Server};Server=pgi-m2m;Database=M2Mdata25;Trusted_Connection=yes;')
conn

In [3]:
cursor = conn.cursor()
#cursor.execute("SELECT fpartno, fqty, ftype, fctime_ts, FFROMLOC, FFROMFAC, FMATL, FUSERINFO, FTOBIN FROM intran")
cursor.execute("SELECT fpartno, fonhand, fbinno, flocation, flot, fac FROM inonhd")

In [4]:
from crontab import CronTab
import csv

df = pd.read_csv('itemized cron.txt', sep='\t',  lineterminator='\n', names=None)
df
df.rename(columns={  
    'item' : 'fpartno',
    'qty\r' : 'fqty'
    
}, inplace = True)
df

    fpartno  lot  fqty
0  21160-LF  2H1    20

In [1]:
item = df.iloc[0, 0]
qty = df.iloc[0, 2]
#lot = df.iloc[0, 1]
Current_Date = datetime.datetime.today()

NameError: name 'df' is not defined

In [6]:
item

'21160-LF'

In [7]:
#cursor.execute("inonhd").where 'fpartno' : item, "flocation"= JUKI).update({"FQTY:", qty}

In [8]:
#cursor.execute("SELECT (fpartno) inonhd (?)", ('21160-LF'))
#cursor.execute("SELECT * FROM dbo.InOnHd WHERE fpartno = 'item' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'").
cursor.execute(f"update inonhd SET fonhand='{qty}' WHERE fpartno = '{item}' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'")

In [11]:
# string concatenation
print("hello " + str(qty)+ " world")

hello 20 world

In [13]:
# string concatenation 2
print("update inonhd SET fonhand='" + str(qty) + "' WHERE fpartno = '"+ str(item) +"' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'")

update inonhd SET fonhand='20' WHERE fpartno = '21160-LF' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'

In [14]:
# string Format
print("update inonhd SET fonhand='{}' WHERE fpartno = '{}' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'".format(qty, item))

update inonhd SET fonhand='20' WHERE fpartno = '21160-LF' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'

In [16]:
# string Format 2
print("hello {} world".format(qty))

hello 20 world

In [18]:
# string interpolation
print(f"update inonhd SET fonhand='{qty}' WHERE fpartno = '{item}' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'")

update inonhd SET fonhand='20' WHERE fpartno = '21160-LF' AND fbinno = 'JUKI' AND flocation = 'JUKI' AND flot = 'JUKI'

In [10]:
conn.commit()